%section.titulo
    .container
        .row
            .col-md-5
                .centrado-derecha
                    =image_tag "logo.png"
            .inscripcion.col-md-4
                %h2 ¡Inscribete aqui!
                %input{:type => "text", :placeholder=>"Nombre", :class=>"form-control"}/ 
                %br/
                %input{:type => "email", :placeholder=>"Email", :class=>"form-control"}/ 
                %br/
                %input{:type => "field", :placeholder=>"¿Cuentanos porque deberias ir?", :class=>"form-control"}/ 
                %br/ 
                %a{:class=>"btn btn-lg btn-primary btn-block", :href => "#" } ¡Yo me inscribo!

%section.reglas 
    .container
        .row
            .col-md-8.col-md-offset-2
                .centrado
                    %h1 Un fin de semana con piscina, trago , buena música, geeks y aplicaciones.
%section
    .texto-titulo
        %h1 Mentores
        %iframe{:width =>"420", :height=>"345", :src => "http://www.youtube.com/embed/Qm41-LtxBhY" }

