.titulo
    .container
        .row
            .col-md-5
                .centrado-derecha
                    =image_tag "logo.png"
            .inscripcion.col-md-4
                %h2 ¡Inscribete aqui!
                %input{:type => "text", :placeholder=>"Nombre", :class=>"form-control"}/ 
                %br/
                %input{:type => "email", :placeholder=>"Email", :class=>"form-control"}/ 
                %br/
                %input{:type => "field", :placeholder=>"¿Cuentanos porque deberias ir?", :class=>"form-control"}/ 
                %br/ 
                %a{:class=>"btn btn-lg btn-primary btn-block", :href => "#" } Registrarse

.reglas
    .container
        .row
            .col-md-8.col-md-offset-2
                .centrado
                    %h1 Un fin de semana con piscina, trago , buena música, geeks y aplicaciones.
                    