%h1 Guaro Weekend
%p Un fin de semana con piscina, trago , buena música, geeks y aplicaciones.
%h2 ¡Las reglas!
%ol
    %li ¡Si estas trabajando,tomas!!
    %li Se debe mostrar una aplicacion funcional al final del fin de semana.
    %li Solo Desarrolladores y Diseñadores. Nada de modelos de negocio y vainas aburridas.
    %li ¡Gota Repite!
    %li ¡Mala cara Repite!