// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//COLORES
// azul es 139FE5
//naranja es EF6B11

body, h1,h2{
	font-family: 'Raleway', sans-serif;
}

.centrado{
	text-align: center;
	img{
	}
}
.centrado-derecha{
	text-align: right;
}

.titulo{
	padding: 5% 0%;
	color: #EF6B11;	
}
.reglas{
	margin: 1% 0%;
	padding: 5% 0%;
	background-color: #EF6B11;
	color: #ffffff;
}
.inscripcion{
}
.texto-titulo{
	color: #139FE5;
	text-align: center;
}